.grid_menu {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.grid_header {
  grid-column-start: 2;
  grid-column-end: 5;
}

.grid_main {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 4;
}

.grid_container {
  display: grid;
  grid-template-columns: 18vw 1fr 1fr 1fr;
  grid-template-rows: 5rem 1fr 1fr;
}

@media only screen and (max-width: 769px) {
  [class*="grid_menu"] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    display: none;
  }
}

@media only screen and (max-width: 769px) {
  [class*="grid_header"] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
  }
}

@media only screen and (max-width: 769px) {
  [class*="grid_main"] {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    position: relative;
  }
}

@media only screen and (max-width: 769px) {
  [class*="grid_container"] {
    display: grid;
    grid-template-columns: 18vw 1fr 1fr 1fr;
    grid-template-rows: 5rem 1fr 1fr;
  }
}
